@use 'pkg:@olegpolyakov/ui/styles/media';

.root {
    height: 100%;
    display: flex;
    overflow: hidden;
}

.main {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--ui-space-m);
}

.content {
    padding: var(--ui-space-xs);
}

.footer {
    padding: var(--ui-space-m);
}

.empty {
    margin: auto;
}

.menu {
    @include media.from(m) {
        display: none;
    }
}